
// Define your color variables
$background-color-light: rgb(110, 62, 110);
$text-color-light: black;
$navbar-color-light: #333;

$background-color-dark: black;
$text-color-dark: white;
$navbar-color-dark: #444;

body.light-mode {
  background-color: $background-color-light;
  color: $text-color-light;
}

body.dark-mode {
  background-color: $background-color-dark;
  color: $text-color-dark;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.content {
  flex-grow: 1;
  // margin-left: 280px;
  // padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(98% - 300px);
  height: 100%;
}
.content.with-navbar {
  margin-left: 280px;
  padding-left: 20px;

}
  
@media (max-width: 480px) {
  .content {
    margin-left: 0;
    padding-left: 0;
    // margin-top: 90px; 
  }
  .content.with-navbar {
    margin-left: 0;
    padding-left: 0;
  }
}