:root {
  --light-bg: #f5f5f5;
  --light-text: #333;
  --dark-bg: #444;
  --dark-text: #f5f5f5;
  --card-width: 200px;
  --card-height: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.exercises-container,
.muscles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-container,
.muscles-container-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.difficulty-div,
.muscle-div {
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;
  line-height: var(--card-height);
  background-color: var(--light-bg);
  color: var(--light-text);
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
      transform: translateY(-5px);
  }
}

[data-theme="dark"] .difficulty-div,
[data-theme="dark"] .muscle-div {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.exercise-card {
  position: relative;
  width: 90vw;
  max-width: 900px;
  background-color: var(--light-bg);
  color: var(--light-text);
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: start;
  // box-sizing: border-box; 
  
  &:hover {
      transform: translateY(-5px);
  }
}

.exercise-content {
  flex: 2 ;  /* take up 3/4 of the available width */
  padding-right: 20px;  /* some spacing between content and image */
}

[data-theme="dark"] .exercise-card {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  border: 1px solid #555;
}

.add-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
      transform: scale(1.1);
  }
}

.tooltip-text {
  display: none;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.add-circle:hover .tooltip-text {
  display: block;
}

.title-container {
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// @media screen and (max-width: 744px) {
//   .exercise-card {
//       width: 70vw;
//       padding: 20px 10px;
//   }
// }

.exercise-images {
  flex: 2;  /* take up % of the available width */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exercise-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

@media screen and (max-width: 390px) {
  .difficulty-container{
    margin-left: 24px;
  }
  .muscles-container-divs{
    gap: 15px;  /* Adjust spacing */
    margin-left: 24px;
  }
  
  .muscle-div {
      width: calc((90% - 2*5px) / 2);  /* Taking 2 cards in a row for mobile */
      height: 80px;  /* Adjust height if necessary */
  }
  .exercise-card{
    margin-right: 10px;
  }
  .title-container {
    font-size: 3.5vw; /* Adjust font size */
}
.exercise-instructions{
  font-size: 3vw;
}
}

@media screen and (min-width: 391px) and (max-width: 744px) {
  /* Adjustments for Portrait size */
  .muscles-container-divs{
    gap: 8px;  /* Adjust spacing */
  }
  .muscle-div {
    width: calc((100% - 3*8px) / 3);  /* Taking 3 cards in a row for portrait */
    height: 90px;  /* Adjust height if necessary */
}
  .exercise-card {
      width: 60vw; /* Adjust width */
  }

  .title-container {
      font-size: 3.5vw; /* Adjust font size */
  }
}

@media screen and (min-width: 745px) and (max-width: 1024px) {
  /* Adjustments for Desktop size */
  .exercise-card {
      width: 70vw; /* Adjust width */
  }

  .title-container {
      font-size: 1.2vw; /* Adjust font size */
  }
}

/* Larger than Desktop */
@media screen and (min-width: 1025px) {
  /* Adjustments for Larger Desktops or screens bigger than 1024px */
  .exercise-card {
      width: 50vw; /* Adjust width */
      max-width: 1100px; /* Maximum width */
  }

  .title-container {
      font-size: 1vw; /* Adjust font size */
  }
}