.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.difficulty-container{
    display: flex;
    justify-content: center;
}
.difficulty-div{
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: bisque;
}

.difficulty-div-dark {
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #333; 
}


.muscle-div{
    width: 200px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    background-color: bisque;
}
.muscle-div-dark {
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #333;
}

.exercise-card {
    position: relative;
    width: 900px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
  }

.exercise-card-dark {
    position: relative;
    width: 900px;
    height: 500px;
    background-color: #333; 
    border: 1px solid white; 
    padding: 20px;
    margin: 20px;
    color: white; 
  }

.muscles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.muscles-container-divs{
    display: flex;
    flex-wrap: wrap;
}

.add-circle {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.tooltip-text {
  display: none;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30%;  
  left: 50%;
  transform: translate(-50%, -100%);
}

.add-circle:hover .tooltip-text {
  display: block;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}