.exercises-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.difficulty-container{
    display: flex;
    justify-content: center;
    max-width: 90vw;

}
.difficulty-div{
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #f5f5f5;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
  }
}

.muscle-div{
    width: 200px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    background-color: #f5f5f5;
}

.difficulty-div-dark {
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #444;
  color: #f5f5f5; 
}


.muscle-div-dark {
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  background-color: #333;
}

.exercise-card {
  position: relative;
  width: 900px;
  height: 500px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.exercise-card-dark {
  background-color: #444;
  color: #f5f5f5;
  border: 1px solid #555;
}

  .exercise-card, .exercise-card-dark {
    max-width: 70vw; 
}

.muscles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.muscles-container-divs{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
}

.add-circle {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  right: 10px;
  top: 10px;
  transition: all 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

.tooltip-text {
  display: none;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 30%;  
  left: 50%;
  transform: translate(-50%, -100%);
}

.add-circle:hover .tooltip-text {
  display: block;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 391px) and (max-width: 744px) {
  .difficulty-container{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    padding-left: 70px;

}
.exercise-card, .exercise-card-dark {
  max-width: 60vw;
  padding-left: 90px; 
}

.muscles-container-divs{
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
  padding-left: 70px;
}

}

@media screen and (min-width: 745px) {
  .difficulty-container{
    display: flex;
    justify-content: center;
    max-width: 60vw;

}
.exercise-card, .exercise-card-dark {
  max-width: 60vw;
  padding-left: 90px; 
}

.muscles-container-divs{
  display: flex;
  flex-wrap: wrap;
  max-width: 50vw;
  padding-left: 60px;
}
}