
.language-selector {
    position: relative;
    left: -76px;

  
    .language-list {
      position: absolute;
      // top: -14px;
      // right: 90px;
      // left: -50px;
      background: white;
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      max-width:110px;
     
      li.dark-mode {
        color: black; 
    }
    }
  }
