$error-color: #ff0000;
$error-background-color: #ffe6e6;
$dark-background-color: black;


.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: rgb(223, 87, 8);
  &.dark-mode {
    background-color: $dark-background-color;
  }
  .register-wrapper {
    width: 100%;
    max-width: 400px; // Adjust as necessary
    text-align: center;
  }

  .register-header {
    text-align: center;
    margin-bottom: 30px;

    .register-image {
      width: 200px;
      // max-width: 200px;
      margin: 0 auto;   
      display: block;
    }

    h1 {
      font-size: 24px;
      margin-top: 15px;
      margin-bottom: 5px;
      color: #333; // Adjust based on your theme
    }

    p {
      font-size: 18px;
      color: #777; // Adjust based on your theme
    }
  }

  .register-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 300px;
    &.dark-mode-form {
      background-color: gray;
    }


    input {
      display: block;
      width: 100%;
      padding: 12px 15px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      transition: border-color 0.3s, box-shadow 0.3s;
      &:focus {
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0,123,255,0.5);
      }
    }

    button {
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 12px;
      width: 100%;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;;

      &:hover {
        background-color: #0056b3;
      }
      &:active {
        transform: scale(0.98);
      }
    }

    .login-link {
      margin-top: 15px;
      font-size: 0.9rem;
    }

    .error-message {
      color: $error-color;
      background-color: $error-background-color;
      border: 1px solid $error-color;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
    }
  }
  @media (min-width: 481px) {
    margin-right: 280px;
  }
}

