$light-mode-background: #fff;
$dark-mode-background: #333;
$light-mode-text: #333;
$dark-mode-text: #fff;

body {
  background-color: $light-mode-background;
  color: $light-mode-text;

  .dark-mode & {
    background-color: $dark-mode-background;
    color: $dark-mode-text;
  }
}

.workout-container {
  width: 100%;

  input {
    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0352a6;
    color: white;
    cursor: pointer;
  }

  button[type="button"] {
    background-color: gray;
  }

  h2 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }

  li {
    margin: 5px;
    font-size: 18px;
  }

  .workouts-grid {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2rem;    
    width: 100%; /* Sets the grid width to 100% */
    padding-top: 50px;
  }

  .day-row {
    border: 1px solid gray;
    padding: 1rem;
    width: 90%;
    min-height: 15vh;
    box-shadow: 10px 5px 5px black;
    background-color: white;
    border-radius: 20px;

    .dark-mode & {
      background-color: $dark-mode-background;
      color: $dark-mode-text;
    }
  }
  .day-row-dark {
    box-shadow: 10px 5px 5px rgb(239, 239, 233);
  }

  .add-exercise-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    border: 1px solid gray; 
    background-color: black;
    color: white;
    margin-left: 10px; 

    span {
      font-size: 20px; 
    }
  }

  .day-row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .day-row-header h2{
    flex-grow: 1;
    text-align: center;
  }

  .exercise-container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  .exercise-circle {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000;
    margin-left: 10px; /* Add this line */
  }
  .green-circle {
    background-color: green;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
